body {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  justify-content: center !important;

}

.eJVvUD {
  div {
    width: 100%;
    text-align: center;
    justify-content: center;


  }
}

.form-control {
  width: 200px !important;
}

.jbxsAb {}